
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h1 class="display-6 text-center text-danger">@ViewBag.message</h1>
        </div>
        <a class="btn btn-primary btn-block" asp-action="Login" asp-controller="Account">Login</a>

    </div>
</div>



@section Scripts{ 

}


