@model ProjectManagement.WebMvc.Models.DepartmentViewModels.GetDepartmentsViewModel


    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h1 class="display-3 text-center text-primary bg-opacity-50 bg-primary">Department Details</h1>
            <div class="card text-center col-8 offset-2 mt-3" style="width: 40rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: @Model.Id</li>
                    <li class="list-group-item">Department Name: @Model.DepartmentName</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2 offset-5">
            <a class="btn btn-info" asp-controller="Department" asp-action="Index">Back to Departments</a>
        </div>
    </div>
   
